
body { 
    margin: 4%;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
}

h2 > a { /* Home Button */
    font-size: 1.5rem;
    color: blue;
    text-decoration: underline blue;
}

p {
    font-size: 1.1rem;
}

div > a { /* Completed Weeks */
    font-size: 1.3rem;
    line-height: 3rem;
    color: blue;
    text-decoration: underline 2px red;
}

div > div > a { /* Uncompleted Weeks */
    text-decoration: none;
    color: black; 
}

