
body { 
    margin: 5%;
    font-family: 'Courier New', Courier, monospace;
    cursor: default;
}

h1 {
    font-size: 2.5rem;
}

h2 { 
    font-size: 1.5rem;
}

h2 > a { /* Home Button */
    font-size: 1.5rem;
    color: blue;
    text-decoration: underline blue;
}

p { /* Main font size */
    font-size: 1.1rem;
}

div > a { /* Completed Weeks */
    font-size: 1.3rem;
    line-height: 3rem;
    color: blue;
    text-decoration: underline 2px red;
}

div > div > a { /* Uncompleted Weeks */
    text-decoration: none;
    color: black; 
}

li > a {
    color: blue;
}

li { /* Makes lists easier to read*/
    padding-right: 30%;
    line-height: 132%;
    cursor: default;
}

.red { /* Makes font with this class red*/
    color: red;
}

.image { /* */
    margin: 5%;
    border: 3px dashed;
}

